/* colors http://coolors.co/c3f73a-95e06c-68b684-0c85ff-4c3020*/
html, body{
    margin: 0px;
    padding: 0px;
    outline: 0px;
    //height: 100%;
    background-color: #4C3020;

}
header {
    background-color: #4C3020;
    background-size: cover;
    background-position: center center;
    padding: 70px;
    padding-top: 1em;
    width: 100%;
    padding-top: 10px;
    height: 100%;
    background-repeat: no-repeat;
    text-align: center;
    box-sizing: border-box;
    display: block;
}

header nav {
    margin-bottom: 15px;
    padding-bottom: 10%;
}
h1{
    font-family: 'Poiret One', cursive;
    text-transform: uppercase;
    color: #0C85FF;
    font-size: 70px;
    margin-bottom: 20px;
}

header p {
    font-family: 'Poiret One', cursive;
    color: #ecf0f1;
    font-size: 35px;
}
header .intro{
    //margin-top: 15%;
    margin-top: 5%;
    border-bottom: solid 5px #0C85FF;
    border-top: solid 5px #0C85FF;
    border-left: solid 5px #0C85FF;
    border-right: solid 5px #0C85FF;
}
/* LOGO */

.content{
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
    display: block;
    height: 100%;
    padding: 10px 70px 70px;
    text-align: center;
    width: 100%;
}

nav{
    position: fixed;
    left: -30px;
}

nav ul{
    list-style: none;
}

nav li{
    text-decoration:none;
    border-bottom: solid 5px #0C85FF;
    border-top: solid 5px #0C85FF;
    border-left: solid 5px #0C85FF;
    border-right: solid 5px #0C85FF;
    height: 20px;
    width: 20px;
    margin-bottom: 10px;
    text-indent: -9999px;
    font-size: 25px;
    background-color: #4C3020;


}

nav li a {
    font-family: 'Poiret One', cursive;
    color: #0C85FF;
    text-decoration: none;
}

nav li:hover{
    padding: 10px;
    text-indent: 0px;
    height: 30px;
    width: 90px;
}

.arrow{
    position: absolute;
    bottom: 2px;
    right: 10px;
    font-size: 50px;
    color: #0C85FF;
}

/* Content */
.content  h2{
    font-family: 'Poiret One', cursive;
    color: #0C85FF;
    font-size: 40px;
    text-transform: uppercase;
    text-align: center;
}
.content p{
    color: #ecf0f1;
}

.bordered{
    border-bottom: solid 5px #0C85FF;
    border-top: solid 5px #0C85FF;
    border-left: solid 5px #0C85FF;
    border-right: solid 5px #0C85FF;
    padding-top: 1em;
}
.content section{
    margin-top: 30px;
    display: block;
}
.separator{
    height: 200px;
}
.about p{
    font-family: 'Poiret One', cursive;
    font-size: 25px;

}
.content-projects{
    height: 500px;
    overflow-y: scroll;
}

.projects{
    border-bottom: solid 5px #0C85FF;
    border-top: solid 5px #0C85FF;
    border-left: solid 5px #0C85FF;
    border-right: solid 5px #0C85FF;
}

.project{
    //background-color: #0C85FF;
    font-family: 'Poiret One', cursive;
    font-size: 50px;
    margin-right: 3%;
    margin-left: 3%;
    padding-top: 10px;
    height: 92%;
    border-bottom: solid 5px #0C85FF;
    border-top: solid 5px #0C85FF;
    border-left: solid 5px #0C85FF;
    border-right: solid 5px #0C85FF;
    margin-bottom: 20px;
}

.project h3{
    display : none;
    color: #0C85FF;
}

.project:hover h3{
    display : block;
}

.project p{
    display : none;
}

.project:hover p{
    display : block;
}
.project a{
    display : none;
    text-decoration: none;
    color: white;
    background-color: #4C3020;

}

.project a:hover{
    color: #0C85FF;
}

.project:hover a{
    display : block;
}

.dechetagglo{
    background-image: url(../images/dechetsagglo.PNG);
    background-repeat:no-repeat;
    background-position:center center;
    background-size:cover;
    height: 645px;
}

.project:hover {
    background: transparent !important;

}


.rockfromspace{
    background-image: url(../images/rocksfromspace.png);
    background-repeat:no-repeat;
    background-position:center center;
    background-size:cover;
    height: 645px;
}

.contact{
    height: 300px;
    font-family: 'Poiret One', cursive;
    font-size: 25px
}


.form-contact a{
    text-decoration:none;
    color: white;
    background-color: #4C3020;

    padding: 10px;
    border-bottom: solid 5px #0C85FF;
    border-top: solid 5px #0C85FF;
    border-left: solid 5px #0C85FF;
    border-right: solid 5px #0C85FF;
}

.form-contact a:hover{
    background-color: #0C85FF;
}



/** FOOTER **/

footer {
    border-top: solid 5px #0C85FF;
    height: 150px;
    background-position-x: -5px;
    background-size: cover;
    text-align: center;
    box-sizing: border-box;
}
footer ul {
    padding: 0;
    color: #0C85FF;
    list-style: none;
    display: inline-block;
    margin-bottom: 0;
}
footer ul li {
    display: inline-block;
    margin: 15px;
}
footer ul li a{
    color: #0C85FF;
}
.social-network {
    margin-top: 0;
}
.social-network li i {
    font-size: 3em;
}